#caixa2 {
    
    width: 350px;
    min-height: 500px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 35px;
    padding: 5px;
    }

#caixa1 {
       
        width: 350px;
        min-height: 500px;
        border: 2px solid black;
        border-radius: 8px;
        margin: 35px;
        padding: 5px;
}

body {
         display: flex;
 }
    
h1 {

    width: 350px;
        min-height: 550px;
        margin: 50px;
        padding: 50px;
}
